.StatusError {
    position: absolute;
    top: 0;
    width: inherit;
    border-radius: inherit;
    background-color: var(--color-background-error) !important;
    max-width: fit-content;
    text-align: center;
    margin: 0.5px 0.5px;
}