.display_txt {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    margin: 2.5px auto;
    letter-spacing: -1.2px;
}
@media (max-width: 480px) {
    .display_txt {
        font-size: 40px;
        line-height: 44px;
        font-weight: 700;
    margin: 2.5px auto;
        letter-spacing: -1.2px;
    }
}
