.headingL_txt {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    margin: 2.5px auto;
    letter-spacing: -1px;
}

@media (max-width: 480px) {    
    .headingL_txt {
        font-size: 32px;
        line-height: 36px;
        font-weight: 700;
    margin: 2.5px auto;
        letter-spacing: -1px;
    }
}