:root {
  --color-dark-low: rgba(0,0,0,0.44);
  --color-dark-medium: rgba(0,0,0,0.6);
  --color-dark-high: rgba(0,0,0,0.8);
  --color-accent: #e63888;
  --color-light-solid: #fff;
  --color-light-high: rgba(255,255,255,0.8);
  
  --color-background-error: #FFC107e8;
  --color-background-success: #198754e8;
  --color-background-loading: #97a3b3e8;
  --color-background-default: #f6f7f9;
  --color-background-white: #fff;
  --color-background-light: rgb(151, 163, 179);
  
  --font-family: 'Roboto', sans-serif;
  --font-weight: 400;
  
  --units-content-padding-lateral: 12px;
  --unit-default-margin-top: 25px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--color-dark-medium);
  background-color: var(--color-background-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-low-color {
  color: var(--color-dark-low);
}
.dark-medium-color {
  color: var(--color-dark-medium);
}
.dark-high-color {
  color: var(--color-dark-high);
}
.accent-color {
  color: var(--color-accent);
}
.light-solid-color {
  color: var(--color-light-solid);
}
.light-high-color {
  color: var(--color-light-high);
}
.light-solid-bg-color {
  color: var(--color-light-solid);
  background-color: var(--color-background-light);
}
.light-high-bg-color {
  color: var(--color-light-high);
  background-color: var(--color-background-light);
}