.headingM_txt {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    margin: 2.5px auto;
    letter-spacing: -0.8px;
}

@media (max-width: 480px) {    
    .headingM_txt {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
    margin: 2.5px auto;
        letter-spacing: -0.8px;
    }
}