.NPS {
  position: relative;
}

.NPS_logo {
  max-height: 60px;
}

.NPS_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.NPS_fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  border: 1px groove var(--color-light-high);
}

.NPS_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.NPS_inputName {
  min-width: 300px;
  font: inherit;
}
.NPS_inputComment {
  width: 300px;
  max-width: 300px;
  min-height: 8ch;
  font: inherit;
}
@media (max-width: 320px) {
  .NPS_inputName {
    max-width: 300px;
    min-width: auto;
    width: auto;
    font: inherit;
  }
  .NPS_inputComment {
    max-width: 300px;
    width: auto;
    min-height: 8ch;
    font: inherit;
  }
}

.NPS_submitButton:disabled {
  border-radius: 3px;
  border: 0.8px solid;
  background-color: var(--color-accent);
  filter: opacity(0.5);
}
.NPS_submitButton:enabled {
  border-radius: 3px;
  border: 0.8px solid;
  background-color: var(--color-accent);
}
.NPS_submitButton:hover:enabled {
  filter: brightness(0.95);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.NPS_submitButton:active:enabled {
  filter: brightness(1.05);
  transform: translate(0.6px, 0.6px);
}
