.RatingStars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RatingStars_button {
  border: 0;
  padding: 0;
  background-color: inherit;
}
.RatingStars_buttonGroup {
  border: 0;
  padding: 0;
  background-color: inherit;
  display: flex;
  justify-content: center;
}

.RatingStars_label {
  display: none;
}

.RatingStars_star:hover {
  fill: gold;
}

.RatingStars_starSelected {
  fill: gold;
}

.RatingStars_submitButton {
  border-radius: 3px;
  border: 0.8px solid; 
  background-color: var(--color-accent);
}
.RatingStars_submitButton:hover {
  filter: brightness(0.95);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.RatingStars_submitButton:active {
  filter: brightness(1.05);
  transform: translate(0.6px, 0.6px)
}
