.Card {
  min-height: 200px;
  min-width: 25vw;
  max-width: calc(100vw - var(--units-content-padding-lateral));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0.2px 0.2px 6px 2px var(--color-dark-low);
  padding: 15px 10px;
}
@media (max-width: 480px) {
  .Card {
    min-height: 200px;
    min-width: calc(100vw - 50px);
    max-width: calc(100vw - var(--units-content-padding-lateral));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0.2px 0.2px 6px 2px var(--color-dark-low);
    padding: 15px 10px;
  }
}
