.Footer {
  width: 100%;
  min-height: 40px;
  background-color: var(--color-background-default);
  margin-top: var(--unit-default-margin-top);
  bottom: 0;

  display: flex;
  justify-content: center;
}

.Footer_anchor {
  text-decoration: none;
  color: inherit;
}
.Footer_anchor:hover {
  text-decoration: underline;
  color: var(--color-accent);
}
